$color-primary: #F2785C;
$color-button: #0D606F;
$color-button-text: #FFF;
$color-nav-text: #FFF;
$color-text: #0D606F;
$color-background: #FFF;
$color-social: #F8F8F8;
$header-shadow: rgba(13, 96, 111, 0.50);

$content-width: 1200px;
$mobile-width: 390px;